<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{{url_for('static', filename='styles.css')}}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/564x/86/c3/11/86c31172cb2cd1013a6c995346f2265b.jpg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/99c3ff593b.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% if session["username"] %}    
        <div id="nav_div">
            <nav id="nav">
                <div class="nav_element">
                    <a href="/home" class="nav_elements"><i class="fa-solid fa-message" style="color: #ffffff;"></i></a>
                </div>
                <div class="nav_element">
                    <a href="/group" class="nav_elements"><i class="fa-solid fa-user-group" style="color: #ffffff;"></i></a>
                </div>
                <div class="nav_element">
                    <a href="/status" class="nav_elements" id="status_nav"><i class="fa-solid fa-paw" style="color: #ffffff;"></i></i></a>
                </div>
                <div class="nav_element">
                    <a href="/profile" class="nav_elements"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                </div>
            </nav>
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>